<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title>MLB Predictor</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


  <!-- CSS -->
  <!-- <link rel="stylesheet" type="text/css" href="../css/style.css"> -->
  <style>
      table, th, td {
        border: 2px solid white;
        border-collapse: collapse;
        background-color: black;
      }
      th, td {
        padding: 5px;
        text-align: left;
        background-color: black;
        color:white;
      }
      .navbar .navbar-nav {
      float: none;
      text-align: center;
      }
      .navbar .navbar-collapse {
      text-align: center;
      }
      .myNav{
      background-color: black;
      }
      nav .navbar-nav li a{
      color: white !important;
      }
      </style>

</head>

<body>
<!-- NAVBAR -->
  <div class="container-fluid" style="background-color:black">
    <br>
    <div class="row">
      <div class=col-md-4></div>
      <div class=col-md-4>
          <img src="../../static/images/mlb-predict3.png" class="img-responsive" width="90%" height="auto">
      </div>
      <div class=col-md-4></div>
    </div>
    <br>
  </div>
  <div class="container-fluid">
  <nav class="myNav navbar-expand-lg fixed-top" style="text-align:center">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
            </button>
        <div class="container-fluid">
          <div class="row">
              <div class="collapse navbar-collapse col-lg-12" id="navbarResponsive">
                <ul class="myUL navbar-nav ml-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="/">Predictor
                      <span class="sr-only">(current)</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                  </li>
                  <li class="nav-item">
                        <a class="nav-link" href="/codes">Codes</a>
                      </li> 
                  <li class="nav-item">
                    <a class="nav-link" href="/sources">Sources</a>
                  </li>
                </ul>
              </div>
          </div>
        </div>
    </nav>
    </div>  

 


  <!--- INTRODUCTION JUMBOTRON -->
  <!-- <div class="section-1" id="section-1" style="padding: 0px; margin: 0px;">
    <div class="container-fluid jumbotron" style="padding: 0px; margin: 0px;">
      <div class="row welcome text-center" style="padding: 0px; margin: 0px;">
   
      
      </div>
    </div>
  </div> -->

  <div style="background-color:lightgray; overflow-x:auto; padding-top: 5%; padding-left: 15%; padding-right:15%; padding-bottom:5%;  color: whitesmoke">
    <p style="font-size:30px; color:black"> Below is a step by step process of how our model was created:</p>
    <br><br>
    <p style="font-size:20px; color:black">Step 1 - The imports:</p>
    <img src="../static/images/imports.PNG" class="img-responsive" width="1185px" height="auto">
    <br><br>
    <p style="font-size:20px; color:black">Step 2 - Imported our dataset, which was cleaned to be uniform from our CSV, while dropping unnamed columns:</p>
    <img src="../static/images/importdata.PNG" class="img-responsive" width="1185px" height="auto">
    <br><br>
    <p style="font-size:20px; color:black">Step 3 - Last bit of data cleaning - changing levels from string to integer, while setting paramters (no one with less than 30 PAs):</p>
    <img src="../static/images/lastclean2.PNG" class="img-responsive" width="1185px" height="auto">
    <br><br>
    <p style="font-size:20px; color:black">Step 4 - Defining X & Y, splitting the data into "train" and "test" models:</p>
    <img src="../static/images/xysplit.PNG" class="img-responsive" width="1185px" height="auto">
    <br><br>
    <p style="font-size:20px; color:black">Step 5 - Running the Random Forest model:</p>
    <img src="../static/images/rfmodel.PNG" class="img-responsive" width="1185px" height="auto">
    <br><br>
    <p style="font-size:20px; color:black">Step 6 - Gathering the feature importance of the Random Forest model:</p>
    <img src="../static/images/feature.PNG" class="img-responsive" width="1185px" height="auto">
    <br><br>
    <p style="font-size:20px; color:black">Step 7 - Running Decision Tree model for comparison:</p>
    <img src="../static/images/decisiontree.PNG" class="img-responsive" width="1185px" height="auto">
    <br><br>
    <p style="font-size:20px; color:black">Step 8 - Adding 'Predicted' column; comparing to other popular projection methods:</p>
    <img src="../static/images/predictedmodelfinal.PNG" class="img-responsive" width="1185px" height="auto">
    <br><br>          
  </div>




  <!-- FOOTER -->
  <div class="section-footer" id="section-footer">
    <div class="container-fluid padding">
      <div class="row text-center">
        <div class="col-12">
          <footer>
            <div class="footer">
                <img src="../../static/images/C2.png" width="10%" height="auto">
                <p>© 2019 C² Baseball Solutions</p>
            </div>
          </footer>
        </div>
      </div>
    </div>
  </div>


  <!-- Javascript -->
<!-- <script src="../static/js/menus.js"></script> -->
</body>

</html>